footer {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-items: center;
    width: 100%;
    // height: 50vh;

    padding: 20px;
    .logo-tex {
        text-align: center;
        width: 700px;
        img {
            width: 150px;
        }
    }
}